node_modules
frontend/node_modules
frontend/dist
backend/node_modules
backend/dist
dist
uploads
tmp
.env
.env.*
.git
.github
coverage
npm-debug.log
pnpm-lock.yaml
yarn.lock
/*.tgz
/.idea
/.vscode
/.DS_Store
public
frontend/public
frontend/.env
frontend/.env.*
backend/.env
backend/.env.*
**/uploads
**/uploads/**
*.log
prisma/migrations